<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Bryce Bacon is Looking for Work</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <!-- Adjusted paths -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/roboto-railway-webfont.css" />
    <link rel="stylesheet" href="css/linearicons-web-font.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <div class="preloader"><div class="loaded">&nbsp;</div></div>

    <nav id="main-nav">
      <ul>
        <li>
          <a href="#home"><span>Home</span></a>
        </li>
        <li>
          <a href="#about"><span>About Me</span></a>
        </li>
        <li>
          <a href="#features"><span>Features</span></a>
        </li>
        <li>
          <a href="#experience"><span>Experience</span></a>
        </li>
        <li>
          <a href="#portfolio"><span>Portfolio</span></a>
        </li>
      </ul>
      <a href="#0" class="cd-close-menu">Close<span></span></a>
    </nav>

    <!-- Home page style -->
    <header id="home" class="home home-main-content">
      <div class="overlay sections">
        <div class="container text-center">
          <div class="row">
            <div class="div-menu">
              <header class="cd-header">
                <div id="cd-logo">
                  <a href="index.html"
                    ><img
                      src="images/baconchat-logo-NB.png"
                      alt="Bacon Chat Logo"
                  /></a>
                </div>
                <a class="cd-menu-trigger" href="#main-nav"><span></span></a>
              </header>
            </div>

            <div class="home-wrapper">
              <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="home-content">
                  <h1>Bryce Bacon</h1>
                  <p>
                    Cyber Security &nbsp; DevOps &nbsp; Software Engineering
                    &nbsp; IT Management
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Sections -->
    <section id="about" class="sections3">
      <div class="container">
        <div class="row">
          <div class="about-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="about-photo">
                <img src="images/bb-main.jpg" alt="About Photo" />
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="about-content text-left">
                <h4>
                  "Hi, I'm Bryce Bacon, I thrive by exploring every corner of
                  Information Technology, building a well-rounded skill set that
                  bridges cybersecurity, data engineering, DevOps and many more
                  Information Technology disciplines"
                </h4>
                <p>
                  I bring a solid technical background and a dedication to
                  continuous learning in high-performing environments. My
                  professional journey has spanned roles from developing web
                  applications to working in a corporate program at Infosys,
                  where I honed my skills in data science, vulnerability
                  assessment, and secure coding practices. My experience
                  includes handling data analytics and cloud platforms,
                  particularly AWS and Azure, along with data engineering
                  exposure, which enhances my understanding of secure, scalable
                  architectures. These experiences have allowed me to thrive in
                  fast-paced, agile settings, and my recent studies have
                  expanded my focus on applying robust cybersecurity principles
                  across IT systems.
                </p>
                <p>
                  Most recently, my dive into DevOps has added Docker,
                  Terraform, and GitHub Actions to my toolkit, allowing me to
                  streamline workflows and enhance development pipelines. With
                  Docker, I am adept at containerizing applications to optimize
                  deployment, while my work with Terraform supports
                  infrastructure as code, ensuring consistent, efficient
                  environments across projects. Leveraging GitHub Actions, I
                  automate code integration and testing, facilitating reliable
                  CI/CD processes. This blend of skills positions me to bridge
                  the gap between development and operations, enabling smoother
                  collaboration and a faster path from concept to deployment in
                  any organization. You can see examples of my work below.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /container -->
    </section>

    <!-- Sections -->
    <section id="features" class="sections lightbg">
      <div class="heading-content text-center">
        <h3>Check out some of My Projects</h3>
        <p>
          Click on links below to see applications/code bases I have built + any
          other work that demonstrates my abilities
        </p>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="features-wrapper">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg design">
                <div class="features-item">
                  <i class="lnr lnr-magic-wand"></i>
                  <h6>
                    <a
                      href="https://github.com/s21507BBacon/NPM-Malicious-Package-Scanner-SIT725.git"
                      >NPM Malicious Package Scanner</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg development">
                <div class="features-item">
                  <i class="lnr lnr-cloud-sync"></i>
                  <h6>
                    <a href="https://github.com/drkae456/DevOps-Auto-Pipeline"
                      >DevOps Automated Pipeline</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg testing">
                <div class="features-item">
                  <i class="lnr lnr-sync"></i>
                  <h6>
                    <a href="https://github.com/drkae456/end2end-encryptionChat.git"
                      >Bacon Chat End-to-End Encryption Web Based App</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg launch">
                <div class="features-item">
                  <i class="lnr lnr-code"></i>
                  <h6>
                    <a href="https://github.com/drkae456/baconchatWork"
                      >Check out this websites Code</a
                    >
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="features-wrapper">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg design">
                <div class="features-item">
                  <i class="lnr lnr-screen"></i>
                  <h6>
                    <a
                      href="https://github.com/s21507BBacon/NPM-Malicious-Package-Scanner-SIT725.git"
                      >NPM Malicious Package Scanner</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg development">
                <div class="features-item">
                  <i class="lnr lnr-magic-wand"></i>
                  <h6>
                    <a href="https://github.com/drkae456/DevOps-Auto-Pipeline"
                      >DevOps Automated Pipeline</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div
                class="features-bg testing"
                style="background-color: aquamarine"
              >
                <div class="features-item">
                  <i class="lnr lnr-dinner"></i>
                  <h6>
                    <a href="#"
                      >Bacon Chat End-to-End Encryption Web Based App</a
                    >
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="features-bg launch">
                <div class="features-item">
                  <i class="lnr lnr-rocket"></i>
                  <h6><a href="#">This Websites deployment & Code</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      
      </div>
    </section>

    <section id="experience" class="experience">
      <div class="overlay sections">
        <div class="container">
          <div class="row">
            <div class="experience-wrapper">
              <!-- Work Experience -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="experience-content">
                  <h4>Work Experience</h4>
                  <div class="content-details content-border">
                    <h5>Infosys</h5>
                    <h6>Nov 2021 - June 2023</h6>
                    <p>
                      Participated in the Infosys Graduate Program, enhancing
                      skills in Java, AWS, Azure, data analytics (Power BI), and
                      data science (Python). Gained strong cybersecurity
                      foundations through training in Qradar and other
                      certifications.
                    </p>
                  </div>
                  <div class="content-details content-border">
                    <h5>Computer & Parts Land</h5>
                    <h6>July 2021 - Sept 2021</h6>
                    <p>
                      Maintained and developed the online sales website using
                      Magento, managed inventory through Excel and MySQL, and
                      executed online marketing strategies via Google My
                      Business.
                    </p>
                  </div>
                  <div class="content-details">
                    <h5>Cookaborough</h5>
                    <h6>Jan 2021 - June 2021</h6>
                    <p>
                      Designed and implemented a website for retail restaurants
                      using Shopify, providing clients with a streamlined
                      e-commerce solution.
                    </p>
                  </div>
                </div>
              </div>

              <!-- Education -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="experience-content">
                  <h4>Education</h4>
                  <div class="content-details content-border">
                    <h5>Deakin University</h5>
                    <h6>March 2024 - Current</h6>
                    <p>
                      Pursuing a Master of Information Technology Management
                      with a focus on Software Engineering, emphasizing
                      cybersecurity approaches and best practices in IT
                      management.
                    </p>
                  </div>
                  <div class="content-details">
                    <h5>Deakin University</h5>
                    <h6>2018 - 2021</h6>
                    <p>
                      Bachelor of Cyber Security, graduated with a strong
                      foundation in network security, data protection, and
                      cybersecurity practices. Specialized in vulnerability
                      assessment and incident response.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sections -->
    <section id="certifications" class="certifications-section">
      <div class="container">
        <h2 class="text-center">Certifications</h2>
        <div class="row">
          <!-- Row 1 -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="certification">
              <a
                href="https://www.credential.net/profile/brycebacon170393/wallet"
                target="_blank"
              >
                <img
                  src="images/purdue.png"
                  alt="Infosys Applied Cybersecurity Essentials Hybrid"
                  class="cert-img"
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="certification">
              <a
                href="https://learn.microsoft.com/api/credentials/share/en-us/BryceBacon-2881/7118C164B1027858?sharingId=C025D2437241A92B"
                target="_blank"
              >
                <img
                  src="images/deploy.png"
                  alt="Deploy cloud-native apps using Azure Container Apps"
                  class="cert-img"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          Row 2 
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="certification">
              <a href="link-to-certification3" target="_blank">
                <img
                  src="images/certification3.jpg"
                  alt="Certification 3"
                  class="cert-img"
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="certification">
              <a href="link-to-certification4" target="_blank">
                <img
                  src="images/certification4.jpg"
                  alt="Certification 4"
                  class="cert-img"
                />
              </a>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    n

    <!-- Sections -->
    <section id="features" class="sections lightbg">
      <div class="heading-content text-center">
        <div class="container">
          <div class="row">
            <div class="contact-wrapper">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-area">
                  <h4>Leave a message</h4>
                  <form style="color: white">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name*"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email*"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Subject*"
                      />
                    </div>
                    <div class="form-group">
                      <textarea
                        rows="9"
                        class="form-control"
                        placeholder="Message"
                      ></textarea>
                    </div>
                    <a type="submit" class="btn btn-default">Hire Me!</a>
                  </form>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-details-area">
                  <div
                    class="contact-details"
                    style="background-color: #835aeb"
                  >
                    <h4>Address</h4>
                    <p>Melbourne, Victoria, Australia</p>
                  </div>
                  <div
                    class="contact-details"
                    style="background-color: #10c6fc"
                  >
                    <h4>Phone</h4>
                    <p>Available upon request</p>
                  </div>
                  <div
                    class="contact-details"
                    style="background-color: #ff2b4a"
                  >
                    <h4>Web</h4>
                    <p>Organisation Mail: toppig@baconchat.org</p>
                    <p>Work Related Mail: brycedanielbacon@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="powered" class="powered-section">
      <div class="container">
        <h2 class="text-center">This website is Powered by</h2>
        <div class="row text-center powered-row">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="powered">
              <a href="#" target="_blank">
                <img
                  src="images/baconchat-logo-NB.png"
                  alt="BaconChat Org"
                  class="cert-img"
                />
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="powered">
              <a href="#" target="_blank">
                <img src="images/docker.png" alt="Docker" class="cert-img" />
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="powered">
              <a href="#" target="_blank">
                <img src="images/nodejs.png" alt="Node.js" class="cert-img" />
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="powered">
              <a
                href="https://github.com/drkae456/baconchatWork.git"
                target="_blank"
              >
                <img src="images/git.png" alt="GIT" class="cert-img" />
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="powered">
                <a href="#" target="_blank">
                    <picture>
                        <source srcset="images/gcp.webp" type="image/webp">
                        <!-- Fallback for browsers that don't support WebP -->
                        <img src="images/gcp.png" 
                             alt="Google Cloud Platform"
                             class="cert-img">
                    </picture>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="main-footer">
              <div class="social">
                <a alt="BaconChat.org" href="https://baconchat.org"
                  ><i class="fa fa-building"></i
                ></a>
                <a
                  alt="LinkedIn Profile"
                  href="https://www.linkedin.com/in/bryce-bacon-b184b114b/"
                  ><i class="fa fa-linkedin"></i
                ></a>
                <a
                  alt="Github Personal Projects"
                  href="https://github.com/drkae456"
                  ><i class="fa fa-github"></i
                ></a>
                <a
                  alt="University GitHub Projects"
                  href="https://github.com/s21507BBacon"
                  ><i class="fa fa-github-alt"></i
                ></a>
              </div>
              <p>Made by me, Top Pig, Bryce Daniel Bacon</p>
              <p>Website brought to you by BaconChat.org</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
